* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #527dcc;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://img.freepik.com/free-vector/geometric-gradient-futuristic-background_23-2149116406.jpg'); /* Replace with actual image URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 15px 15px 0;
}

.home-container {
    display: flex;
    width: 80%;
    height: 80%;
    flex: 1; /* Occupy remaining 50% of the screen width */
    background-image: url('https://img.freepik.com/free-vector/gradient-network-connection-background_23-2148881320.jpg'); /* Replace with actual image URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 15px 15px 0; /* Match the border radius with the content card */
    font-family: monospace;
}

.content {
    flex: 100%; /* Occupy 50% of screen width */
    height: 100%; /* Occupy 50% of screen height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}


h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.welcome-text {
    font-size: 1rem;
    color: #666;
    margin-bottom: 30px;
    text-align: center;
}

.button-group {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.login-btn {
    padding: 12px 25px;
    font-size: 1rem;
    border: none;
    border-radius: 30px;
    background-color: #4a90e2;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 45%; /* Buttons will occupy 45% of the available width */
}

.login-btn:hover {
    background-color: #357ABD;
}

.admin-btn {
    background-color: #3c4878;
}

.admin-btn:hover {
    background-color: #1c204e;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .content {
        flex: 1;
        height: auto;
        border-radius: 0;
        padding: 20px;
        width: 100%;
    }

    .background-image {
        display: none; /* Hide background image on smaller screens */
    }

    .login-btn {
        width: 100%; /* Make buttons full width */
        margin-bottom: 10px;
    }

    .button-group {
        flex-direction: column;
    }
}
